<div class="aside" >
    <h2>Page Links ^_^</h2>
    <p> 
        <a href="/" id="home" style="font-weight:bold;">Home <br></a>
        <a href="/search" >Find a Pet <br></a>
        <a href="/catcare" >Cat Care <br></a>
        <a href="/dogcare" >Dog Care <br></a>
        <a href="/giveaway" >Give Away a Pet <br></a>
        <a href="/contactus" >Contact Us <br></a>
        <a href="/createaccount" >Create an account <br></a>
        <a href="/logout" >Logout <br></a>

    </p>
</div>