<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> ADOPT ME </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="adopt_a_pet.css">
    </head>

    <body> 
       
        <div class="container">

            <%- include('header.ejs') %>
        

            <%- include('aside.ejs') %>




        <div class="main" >
            <h2>How to care for your cyber cat!!</h2>
            
            <h3>For a long and fruitful companionship</h3>
            <p>Digital cats, like their flesh-and-blood counterparts, require love and care to live long, 
                healthy lives. You will want to host them in a nice comfortable server where they have
                 plenty of room to run around and explore. You must play with them daily, and ensure that
                  they have much to keep them entertained.
                  <br>
                  Digicats need fresh food and water daily. A high-quality diet of HTML and CSS is critical
                   to keeping your cat healthy. Your cat also needs brushing. It is best to id your pet so that they
                    do not get lost or pirated. If you let your cat roam around other websites, be sure to vaccinate them
                     against viruses or other malware.





            </p>
            
        </div>
        




        <%- include('footer.ejs') %>
        
    </div>

    <script src = "scripts/dateTime.js"></script>

    </body>

</html>