<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> ADOPT ME </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="adopt_a_pet.css">
    </head>

    <body> 
       
        <div class="container">

            <%- include('header.ejs') %>
        

            <%- include('aside.ejs') %>




        <div class="main" >
            <h2>Disclaimer on data and privacy</h2>
            
            <h3>We are as ethical as the law requires of us</h3>
            <p>We're not going to "steal" or "sell" your data. Or at least, not on purpose. Or ok, maybe on purpose, but don't 
                worry all your data has already been stolen and sold so like, it doesn't really matter if we do it? Plus hey think
                of all the poor starving advertisers who are just trying to make a living :( they need to eat too right. And think of
                all those hard-working millionaire CEOs, how would they convince you to accept their dystopia if they can't use your data to
                hold you hostage. Really, selling your data is the most ethical option. And you know what they say, there's 
                no ethical consumption under captialism anyways, hahaha. Good system. 
                <br><br>
                We're not responsible for anything.
                <br>

                

            </p>
            
        </div>
        




        <%- include('footer.ejs') %>
        
    </div>

    <script src = "scripts/dateTime.js"></script>

    </body>

</html>