<footer >
    <p><span>&copy; 2025 MeowWoof & Co.</span></p>
    <p id="disclaimer"><span>
        Meow meows are very cute and you might get meowly obsessed. Meow at your own risk. <a href="/disclaimer">Full disclaimer here</a>
    </span></p>
</footer>