<header >
    <!-- TODO: add icon-->
    <div id="dateTime"></div>
    <h1><span id="pagetitle"><a href="/"><img src="assets/icon.png" alt="home" style="width:35px"></a><span id="big1"><%= big1 %></span><span style="text-transform:lowercase;font-size:medium;" is="small"><%= small %></span><span id="big2"><%= big2 %></span></h1>
    
</header>