<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> ADOPT ME </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="adopt_a_pet.css">
    </head>

    <body> 
       
        <div class="container">

        <%- include('header.ejs') %>
        

        <%- include('aside.ejs') %>



        




        <div class="main" >
            <h2>Create Account</h2>
            
            <h3>You have successfully logged out</h3>
            <p>Thank you for creating an account. You may now log in and give away a pet</p>
            
            
            
        </div>
        
        <%- include('footer.ejs') %>



        
    </div>

   
    <script src = "scripts/dateTime.js"></script>
    
    </body>

</html>